input.invalidisbn {
    color: red !important;
}

input.updated {
    color: green !important;
}

input.autochanged {
    color: green !important;
}

span.libtool-command {
    color: green !important;
    cursor: pointer;
}

span.libtool-language-link {
    font-size: 75%;
    margin-right: 1.7em;
}
